<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ToDoApp</title>
  </head>
  <body>
    <a href="/new"><button type="button">タスク追加</button></a>

    <form th:method="get" action="/search">
      <div>
        <p>タスクの内容:<input type="text" name="content" th:value="${content}" /></p>
        <p>日付:<input type="date" name="start" th:value="${start}" />〜<input type="date" name="end" th:value="${end}" /></p>
        <p>ステータス:
          <select name="status">
            <option th:each="status, statusArray : ${statusArray}" th:value="${statusArray.index}" 
            th:text="${status}" th:selected="${statusArray.index} == ${statusValue}"></option>
          </select>
        </p>
        <p><input type="submit" value="絞込" /></p>
      </div>
    </form> 
    
    <div th:each="task : ${tasks}">
      <p th:text="${task.id}"></p>
      <p th:text="${task.content}"></p>
      <p th:text="${task.limit_date}"></p>
      <div th:switch="${task.status}">
        <form th:method="put" th:action="@{/status/{id}(id=${task.id})}">
          <input th:case="1" type="submit" th:value="完了" />
          <input th:case="2" type="submit" th:value="ステイ中" />
          <input th:case="3" type="submit" th:value="実行中" />
        </form>
      </div>
      <form th:method="delete" th:action="@{/delete/{id}(id=${task.id})}">
        <input type="submit" value="削除" />
      </form>
      <a th:href="@{/edit/{id}(id=${task.id})}">
        <button type="button">編集</button>
      </a>
    </div>
  </body>
</html>